.container-form-actu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid white;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 35%;
    height: 300px;
    border-radius: 10px;
    .form-post-actu{
        margin-top: 20px;
        .input-form-actu{
            padding: 5px;
            border-radius: 10px;
        }
    }
}

.button-actu{
    width: 80px;
    height: 30px;
    border-radius: 5px;
}

.container-page-actu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-recipe{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.title-recette{
    color: white;
}

.cards-container{
    width: 80%;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
}