.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #3f51b5;
    h3{
        color:#ede7f6;
    }
}

.social a{
    text-decoration: none;
    color: white;
}

.a-propos a{
    text-decoration: none;
    color: white;
}

.languages p{
    color: white;
}

.logo{
    color: white;
}



