.navbar-wrapper {
  .MuiTypography-h6 {
    font-size: 35;
  }

  .settings {
    display: flex;
    align-items: center;
    .slider {
      margin-right: 2em;
    }
  }
}

// MuiPaper-root MuiAppBar-root MuiAppBar-positionStatic MuiAppBar-colorPrimary MuiPaper-elevation4

.MuiToolbar-regular {
  background-color: #3b84cecc;
}
