.webcam-wrapper {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .icon {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  .second-webcam {
    width: 355;
    height: 300px;
    background-image: url('https://theenglishfarm.com/sites/default/files/styles/featured_image/public/harold_2.jpg?itok=uo6h4hz4');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
