.webcam-wrapper {
  margin-left: 100px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  .icon {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  .second-webcam {
    width: 480px;
    height: 360px;
    border: solid;
  }
}
